.user
    .username #{display}
    .usertask #{preferredTask}
    .usertime
        .timestart
            if shift == 'First'
                | 4:00 AM
            if shift == 'Second'
                | 1:00 PM
        .spacer -
        .timeend
            if shift == 'First'
                | 1:00 PM
            if shift == 'Second'
                | 10:00 PM