mixin user(data)
    .user
        .username #{data.name}
        .usertask #{data.task}
        .usertime
            .timestart #{data.timestart}
            .spacer -
            .timeend #{data.timeend}

html
    head 
        title Our Team
        link(href="/view/style.css", rel="stylesheet") 
    body
        script(src="/resources/jquery.js")
        script(src="/view/view.js")
        .content 
            .shift.first-shift
                .title First Shift
                //each val in data.first_shift 
                    +user(val)
            .shift.second-shift
                .title Second Shift
                //each val in data.second_shift
                    +user(val)