html
    head 
        title Our Team
        link(href="./view/style.css", rel="stylesheet") 
    body 
        .content 
            .shift.first-shift
                .title First Shift
                .user.test
                    .username Kassidy
                    .usertask Carts/Cull
                    .usertime
                        .timestart 4:00 AM 
                        .spacer -
                        .timeend 1:00 PM
                .user.test
                    .username Ornery
                    .usertask Carts/Cull/Disposal
                    .usertime
                        .timestart 4:00 AM 
                        .spacer -
                        .timeend 1:00 PM
            .shift.second-shift
                .title Second Shift
                .user.test
                    .username Ron
                    .usertask Produce
                    .usertime
                        .timestart 1:00 PM 
                        .spacer -
                        .timeend 10:00 PM