html
    head 
        title Our Team
        link(href="/view/style.css", rel="stylesheet") 
    body
        script(src="/resources/jquery.js")
        script(src="/view/view.js")
        .content 
            .shift.first-shift
                .title First Shift
            .shift.second-shift
                .title Second Shift