html 
    head 
        title Our Team - Admin Panel 
        link(href="/admin/style.css", rel="stylesheet")
        script(src="/resources/jquery.js")
        script(src="/admin/admin.js") 
    body 
        .container 
            #users-button.button Users
            #days-button.button Daily Overrides